@media screen
{
	body {
		background-image: url("images/background/hardwoodFloor2.jpg");
		display: block;
		height: 100%;
		width: 100%;
		background-position: center center;
		background-repeat: repeat-y;
		background-size: cover;
	}
		
	p.textStyle {
	    text-align: center;	
	    font-family: "Helvetica", "Times New Roman", Times, serif;
		font-size: 150%;
		color: navy;
		font-weight: bold;

	}
	
	.bannerStyle {
		background-color: transparent;	
	}
	
	
	ul {
	    padding: 0;
	}
	
	li {
	    display: inline;
	    font-family: "Helvetica", "Times New Roman", Times, serif;
		font-size: 120%;
		font-weight: bold;
	}
	
	li a {
		background-color: white;
		color:#FF8000;
		padding: 10px 20px;
		text-decoration: none;
		border-radius: 20px 20px 20px 20px;
	}
	
	li a:hover {
		background-color: black;
	}
}